// base color
$body-color: #000000;
$body-bg: #eff0f6;

// primary colors
$primary: #00143c;
$secondary: #005AEE;
$danger: #e90e5c;
$danger-light: #fa195f;
$success: #7f9700;
$success-light: #26c894;
$info: #4a84ff;
$info-dark:#3b48ff;
$info-light:#0bb2e6;
$warning: #ff9743;
$purple: #374a82;
$purple-dark: #20134e;
$gray-100: #edeff3;



