// base styles
$font-family-base:'Inter', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;

// font-size
$text-xxs: 72%;
$text-sm: 13px;

// sidebar width
$sidebar-width: 90px;

// header height
$header-height: 60px;

// form styles
$input-height: 32px;

// Button styles
$btn-font-weight:500;
$btn-font-size: 14px;