<aside id="sidebar" class="sidebar d-flex flex-column bg-primary h-100">
    <img class="site-logo" src="./../../../assets/images/logo.5e1ce228.svg" alt="logo-img">
    <ul class="navbar-nav mr-auto mt-4 w-100">
        <li class="nav-item ">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link active" href="#">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            Dashboard </a>
        </li>
        <li class="nav-item">
          <a routerLink="/customers" class="nav-link" href="#">
            <i class="fa fa-users" aria-hidden="true"></i>
            Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            Calender</a>
        </li>
      </ul>
</aside>