  <!-- Start: Header -->
  <header class="header">
    <div class="btn-group" id="booking-btn">
        <button type="button" class="btn btn-secondary">
            <i class="fa fa-globe fa-lg text-white mr-2"></i>
            <span> Booking Website </span>
        </button>
            
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-expanded="false">
            <!-- <span class="sr-only">Toggle Dropdown</span> -->
            <i class="fa fa-angle-down fa-lg text-white"></i>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
       
    <button id="customize-btn" class="btn btn-light">
        <img class="palette-img-icon" src="../../assets/icons/palette_FILL0_wght400_GRAD0_opsz48.svg"
            alt="color-palate">
        <span> Customize</span>
    </button>
    <div class="header-icon-buttons h-100 d-flex align-items-center ml-auto">
        <button class="btn btn-transparent trophy-btn">
            <i class="fa fa-trophy "></i>
        </button>
        <button class="btn btn-transparent">
            <i class="fa fa-question-circle-o "></i>
        </button>
        <button class="btn btn-transparent">
            <i class="fa fa-line-chart "></i>
        </button>
        <button class="btn btn-transparent">
            <i class="fa fa-cog "></i>
        </button>
    </div>
    <div class="dropdown d-flex h-100 align-items-center user-dropdown ">
        <a class="dropdown-toggle h-100" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="user-profile">VC</span>
            <div class="user-name d-flex flex-column">
                <span> vinay </span>
                <span> chudasama </span>
            </div>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <!-- <button (click)="openModal()" class="btn btn-warning add-product-btn d-flex ml-auto mt-2 mr-4">Add Product</button> -->
</header>
<!-- End: Header -->